@import "tailwindcss";

:root {
  --background: #e9f3ff;
  --foreground: #364fab;
}

.dark {
  --background: #0e1117;
  --foreground: #4da3ff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
