@layer theme, base, components, utilities;
@import "tailwindcss";
@import "@heroui/styles";
@import "./styling/themes.css";
@import "./styling/components/buttons.css";
@import "./styling/components/switch.css";

