@layer theme, base, components, utilities;
@import "tailwindcss";
@import "@heroui/styles";
@import "./styling/themes.css";
@import "./styling/components/buttons.css";
@import "./styling/components/switch.css";
@import "./styling/components/form.css";

.font-neon {
    font-family: var(--font-neon);
}

.text-glow {
    text-shadow: 0 0 20px var(--foreground), 0 0 30px var(--foreground),
        0 0 40px var(--foreground);
}
